/* .contact-img {
    width: 20px;
    height: 20px;
} */

.contact-headers {
    font-family: 'Shadows Into Light', cursive;
}

#contact a, #contact input, #contact textarea {
    font-family: 'Kaisei HarunoUmi', serif;
}