footer img {
    width: 32px;
    height: 32px;
}

footer {
    justify-content: center;
    align-items: center;
}

footer a:hover {
    /* box-shadow: 0px 0px 5px 0px rgba(256, 256, 256, 0.3); */
    transform: scale(1.2);
}