#sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden; /* disable horizontal scroll */
    margin-top: 60px;
    transition: 0.5s;
    font-family: 'Amatic SC', cursive;
}

#sidepanel li {
    padding: 8px 8px 8px 32px;
    /* font-size: 25px; */
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sidepanel li:hover {
    color: #f1f1f1;
}

#sidepanel .closebtn {
    /* position: absolute; */
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 100px;
    color: #818181;
}

.openbtn {
    font-size: 25px;
    cursor: pointer;
    /* color: white; */
    padding: 25px 40px;
    border: none;
}

.openbtn:hover {
    color: rgb(55, 211, 55);
}

.openbtn:hover #sidepanel {
    width: 180px;
}

/* .dropbtn {
    /* background-color: #04AA6D; */
    /* color: white; */
    /* padding: 16px; */
    /* font-size: 16px; */
    /* border: none; */
/* } */ 
  
.dropdown {
    position: relative;
    display: inline;
    width: 100%;
}

.dropdown:hover {
    cursor: pointer;
}
  
.dropdown-content {
    display: none;
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.4); */
    /* color: #f1f1f1; */
    /* min-width: 160px; */
    /* box-shadow: 0px 8px 16px 0px rgba(173, 236, 225, 0.2); */
    /* right: 0; */
    width: 100%;
    overflow: auto;
    z-index: 1;
  }
  
.dropdown-content a {
    /* padding-bottom: 15px; */
    text-decoration: none;
  }
  
.dropdown-content a:hover img {
    font-weight: bold;
    transform: scale(1.2);
}
  
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-img {
    width: 27px;
    height: 27px;
}

header h2 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}