body {
    overflow-x: hidden;
}

.tab {
    position: absolute;
    left: -100px;
    transition: 0.3s;
    padding: 12px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 0 5px 5px 0;
    font-family: 'Amatic SC', cursive;
}

.tab:hover {
    left: 0;
    cursor: pointer;
}

.right-tab {
    position: absolute;
    right: -145px;
    transition: 0.3s;
    padding: 12px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px 0 0 5px;
    font-family: 'Amatic SC', cursive;
}

.right-tab:hover {
    right: 0;
    cursor: pointer;
}

.project-container {
    /* display: none; */
    /* width: 80%; */
    /* height: 55%; */
    border: 2px solid #f1f1f1;
    line-height: 1.5;
}

.clonello, .quiz, .weather, .budget, .blog {
    display: none;
    font-family: 'Kaisei HarunoUmi', serif;
}

.bike-tab {
    top: 130px;
    left: -132px;
}

.clonello-tab {
    top: 200px;
    left: -119px;
}

.blog-tab {
    top: 270px;
    left: -120px;
}

.quiz-tab {
    top: 340px;
    left: -125px;
}

.weather-tab {
    top: 410px;
    left: -188px;
}

.budget-tab {
    top: 480px;
    left: -160px;
}

.a-tab {
    top: 130px;
}

.b-tab {
    top: 200px;
}

.c-tab {
    top: 270px;
}

.d-tab {
    top: 340px;
}

.e-tab {
    top: 410px;
}

.f-tab {
    top: 480px;
}

.project-image {
    width: 100%;
    height: 45%;
}

.link-container img:hover {
    transform: scale(1.2);
}

#projects h2 {
    font-family: 'Rock Salt', cursive;
}